/*===============general==============*/
body{
  background-color: white;
  font-family: 'Merriweather', serif;
  color: #425F84;

}

h1{
  font-family: 'Montserrat', serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #425F84;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin-bottom: 20px;
  margin-top: 20px;
}

p{
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.3rem;
}

h2{
  font-family: 'Montserrat', serif;
  font-weight: 900;
  font-size: 3rem;
  color: #425F84;
}

h3{
  font-size: 1.5rem;
  color: #425F84;
}

a{
    font-size: 1.5rem;
}

.mbt-2{
  margin: 0.5% 0;
}

.pd-3{
  padding-top: 3%;
}
/*===============specifics==============*/

.slide-text{
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  width: 80%;
  padding: 20px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
}

.mr-7{
  margin-right: 5%;
}

/*navbar*/
.nav-box{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.navbar-scroll{
  background-color: black;
}

.navbar-brand{
  padding-top: 0;
}

.navbar-text{
  color: white;
  margin-top: 10px;
}

.img-brand{
  height: 100px;
}

nav.navbar{
  min-height: 110px;
}

nav.navbar.shrink {
  min-height: 75px;
}

nav a img.shrink-logo{
  height: 45px;
}

nav a img{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


.nav-item{
  padding-top: 1%;
  padding-bottom: 1%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.button-sep{
  margin-right: 20px;
}

.btn-primary{
  background-color:  #425F84;
  border-color:  #425F84;
}

* {
  border-radius: 0 !important;
}

.sobre{
  background-color: black;
  padding: 0 10% 0 10%;
  text-align: center;
}

.sobre-text{
  color: white;
}

.fotos{
  max-width: 400px;
  max-height: 350px;
  padding: 3%;
}

.fotos-bottom{
  max-height: 500px;
}
/**/
.title{
  font-size: 3rem;
  color: white;
}

.carousel{
  width: 100%;
}

.carousel-item{
  text-align: center;
}

.car-img{
  max-width: 100%;
}

.bg-image {
  position: absolute;
  left: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: -1;
}

/*redes sociais e contato*/


.img-redes-nav{
  z-index: 1;
  color: black;
  font-size: 4rem;
}

.img-redes-nav:hover{
  z-index: 1;
  color: white;
}

.img-redes-contato{
  color: #425F84;
  font-size: 2.5rem;
}

.img-redes-contato:hover{
  z-index: 1;
  color: white;
}

.contato{
  padding-top: 3%;
  padding-bottom: 3%;
  padding: 0 10% 0 10%;
  text-align: center;
  background-color: white;
  color: #425F84;
}

.contato-text{
  font-size: 0.9rem;
}

.email{
  color: #425F84;
}

.email:hover{
  text-decoration: none;
    color: black;
}

.map{
  text-align: center;
}

.transparencias{
  color: #66BFBF;
  padding: 0 10% 0 10%;
}

.footer{
  text-align: center;
  background-color: black;
  color: white;
  padding: 1% 0 3px;
}
.footer-text{
  font-size: 1rem;
}

@media (max-width: 1000px){
  .navbar-text{
    font-size: 1rem;
  }

  .title{
    font-size: 1.5rem;
  }

  .content{
    font-size: 1rem;
  }

  .img-redes-nav{
    font-size: 2rem;
  }

}
